@using LuxyryWatch.Models

<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-2">
            <div class="col-lg-4 header-most-top">
                <p class="text-white text-lg-left text-center">
                    Offer Zone Top Deals &amp; Discounts
                    <i class="fas fa-shopping-cart ml-1"></i>
                </p>
            </div>
            <div class="col-lg-8 header-right mt-lg-0 mt-2">
                <!-- header lists -->
                <ul>
                    <li class="text-center border-right text-white">

                    </li>
                    <li class="text-center border-right text-white">

                    </li>
                    <li class="text-center border-right text-white">

                    </li>
                    @if (Session["TaiKhoan"] != null)
                    {
                        ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                        <li class="text-center border-right text-white">
                            <a href="@Url.Action("ThongTinTaiKhoan", "TaiKhoan")" class="text-white">
                                <i class="fas fa-sign-in-alt mr-2"></i> @tv.TaiKhoan
                            </a>
                        </li>
                        <li class="text-center text-white">
                            <a href="@Url.Action("DangXuat", "Home")" class="text-white">
                                <i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="text-center border-right text-white">
                            <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
                                <i class="fas fa-sign-in-alt mr-2"></i>Đăng nhập
                            </a>
                        </li>
                        <li class="text-center text-white">
                            <a href="@Url.Action("DangKy", "Home")" @*data-toggle="modal" data-target="#exampleModal2"*@ class="text-white">
                                <i class="fas fa-sign-out-alt mr-2"></i> Đăng ký
                            </a>
                        </li>
                    }

                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>