
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>bout
            <span>U</span>s
        </h3>
        <!-- //tittle heading -->
        @*@if (Model != null)
        {*@
        @*@Html.Raw(Model.GioiThieu)*@
        @*}*@
        <div class="row">
            <div class="about_detail">
                <div class="noidung_detail">
                    <ul>
                        <li style="list-style: none">
                            <p style="text-align: center ">
                                <img alt="" src="~/Content/images/gioi-thieu-luxury.jpg" style="width: 700px; height: 433px;">
                            </p>
                            <p style="color: #0d0c0c">
                                &nbsp;&nbsp;&nbsp;&nbsp; Trải qua những thăng trầm về thời gian cùng kinh nghiệm 60 năm với tiền thân là một cửa hàng sửa chữa đồng hồ, Luxury Shop đã chứng tỏ được sức sống bền bỉ của mình và giữ gìn được những nét đẹp văn hóa của cha ông. Cùng với sự phát triển của nền kinh tế thị trường với truyền thống gia đình và kinh nghiệm lâu năm về đồng hồ cùng sự hiểu biết sâu sắc đã giúp cho cái tên Luxury Shop trở lên quen thuộc hơn. Qua một thời gian dài song hành cùng khách hàng, Luxury Shop đã, đang và sẽ tiếp tục phát triển trên con đường mang vẻ đẹp của những chiếc đồng hồ cao cấp chính hãng của những thương hiệu nổi tiếng trên thế giới đến với người yêu thích đồng hồ tại Việt Nam.<br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp; Triết lý kinh doanh “Khách hàng,&nbsp;chất lượng và uy tín được đặt lên hàng đầu”, Luxury Shop luôn quan niệm bằng lương tâm và nhiệt huyết nghề nghiệp mang đến sự hài lòng an tâm tuyệt đối về chất lượng sản phẩm cũng như dịch vụ sửa chữa, bảo hành, từ đó tiếp tục được đặt lòng tin và sự yêu mến của khách hàng.<br>
                                Cùng tình yêu và kinh nghiệm lâu năm trong nghề, chúng tôi luôn cố gắng hết mình để làm sao có thể mang lại được những giá trị tốt nhất cho người sử dụng, &nbsp;có được sự yêu mến, tin tưởng của khách hàng và tạo lập được sự thành công cho Luxury Shop như ngày hôm nay và tiếp tục phát triển lâu dài, bền vững mãi về sau.<br>
                                &nbsp;<br>
                                &nbsp;Hệ thống chuỗi cửa hàng Luxury Shop hiện có mặt trong các TTTM mại lớn như: Vincom Mega Mall Times City, Vincom Mega Mall Royal City, Lotte Center, Lotte Mart và các cửa hàng ngoài phố. Tại chuỗi cửa hàng này của chúng tôi trưng bày và giới thiệu hàng ngàn mẫu đồng hồ khác nhau với nhiều kiểu dáng mẫu mã, đa dạng về chất liệu, nhiều lựa chọn phù hợp với mọi khả năng tài chính của khách hàng. Tại đây Quý khách thỏa sức chiêm ngưỡng những bộ sưu tập&nbsp;<a href="http://donghoduyanh.com/sp/tissot/262.vtn" title="Dong ho chinh hang">dong ho chinh hang</a>&nbsp;cao cấp như đồng hồ đính Kim Cương, đồng hồ Vàng nguyên khối,&nbsp;<a href="http://donghoduyanh.com/" title="Dong Ho">dong ho</a>&nbsp;Thể thao, đồng hồ Thời trang, đồng hồ Nam, đồng hồ Nữ …thuộc các thương hiệu hàng đầu nổi tiếng trên thế giới của Thụy Sỹ như Longines, Tissot, Mido, Frederique Constant, Ck…..hay của Nhật Bản như Seiko, Citizen, Orient…<br>
                                <br>
                                Chuỗi cửa hàng của Luxury Shop đều đạt được chứng nhận cửa hàng tiêu chuẩn của hãng giành được nhiều giải thưởng và chứng nhận là một trong những hệ thống phân phối&nbsp;<a href="http://donghoduyanh.com/" title="Đồng hồ">đồng hồ</a>&nbsp;và trang sức cao cấp chính hãng uy tín hàng đầu tại Việt Nam hiện nay.<br>
                                <br>
                                <strong>I- QUAN ĐIỂM KINH DOANH CỦA Luxury:</strong><br>
                                <br>
                                Những quan điểm kinh doanh dưới đây đều đã được các cán bộ, nhân viên của Luxury Shop hiểu rõ, thấm nhuần và tuyệt đối tuân thủ theo:<br>
                                *&nbsp;Không bán hàng kém chất lượng, hàng giả, hàng nhái, hàng không rõ nguồn gốc, xuất xứ...và để thiết thực nhất chúng tôi luôn cam kết “ Bồi thường gấp 10 lần giá trị thực nếu quý khách phát hiện mua phải hàng giả, hàng nhái từ chúng tôi”<br>
                                * Luôn cung cấp cho các Quý khách hàng những&nbsp;sản phẩm tốt&nbsp;với&nbsp;giá cả cạnh tranh nhất&nbsp;đi kèm với những chế độ&nbsp;dịch vụ hoàn hảo nhất.<br>
                                *&nbsp;Luôn đặt chữ tín lên hàng đầu, không vì lợi nhuận mà gian dối, lừa bịp Khách hàng...<br>
                                *&nbsp;Luôn đặt mình vào địa vị của Khách hàng&nbsp;để có những quyết định, cư xử phải lẽ nhất...<br>
                                *&nbsp;Luôn làm hài lòng mọi Khách hàng&nbsp;đến với Luxury bằng việc thấu hiểu và thực hiện theo quan điểm: "Khách hàng luôn luôn đúng".<br>
                                <br>
                                <strong>II- CHÍNH SÁCH KINH DOANH CỦA Luxury Shop:</strong><br>
                                <br>
                                Tất cả các nhân viên làm việc tại Luxury Shop đều thấu hiểu:<br>
                                Khách hàng mới là người quyết định tương lai, sự tồn tại và phát triển của chúng tôi<br>
                                Vì vậy, toàn thể nhân viên Luxury Shop đều luôn tâm niệm và làm việc theo suy nghĩ:<br>
                                Hãy phục vụ Khách hàng như chúng ta đang phục vụ chính bản thân chúng ta!<br>
                                Khi mua hàng của Luxury, Quý khách hàng sẽ cảm thấy hoàn toàn yên tâm và hài lòng về mọi mặt vì Luxury luôn cung cấp&nbsp;những điều mà Quý khách hàng mong muốn và quan tâm:<br>
                                <strong>1- Bán đúng giá cả:</strong>&nbsp;Quý khách hàng sẽ được bảo đảm về giá và&nbsp;Tuyệt đối không sợ bị hớ.<br>
                                <strong>2- Đúng chất lượng:</strong>&nbsp;Quý khách hàng&nbsp;sẽ được đảm bảo về chất lượng hàng hóa bằng đúng tiêu chuẩn của hãng sản xuất và&nbsp;Đúng tính năng kỹ thuật như chúng tôi đã giới thiệu<br>
                                <strong>3- Thái độ phục vụ:</strong>&nbsp;Quý khách hàng&nbsp;sẽ được Luxury phục vụ theo đúng phương châm&nbsp;Khách hàng là Thượng đế.<br>
                                <strong>4- Dịch vụ hoàn hảo:</strong>&nbsp;Đến với Luxury quý khách&nbsp;sẽ được hưởng các chính sách, chế độ Dịch&nbsp;vụ hàng đầu tại Việt&nbsp;Nam.<br>
                                <strong>5- Độ bền công ty:</strong>&nbsp;Với sự đầu tư cơ bản về cơ sở hạ tầng, với một ý thức trách nhiệm cao, chúng tôi muốn mang lại&nbsp;<strong>Sự an toàn tuyệt đối</strong>&nbsp;cho các Quý khách hàng đã mua hàng tại Luxury bằng&nbsp;Những cam kết bảo hành có giá trị pháp lý và giá trị thực tế&nbsp;đúng như những gì chúng tôi đã thỏa thuận với Quý khách hàng.<br>
                                Nếu&nbsp;Quý khách hàng&nbsp;đã chọn mua hàng và được hưởng các chính sách, chế độ dịch vụ hàng đầu của Luxury dù chỉ một lần, chúng tôi tin và hy vọng&nbsp;Quý khách hàng&nbsp;sẽ hoàn toàn cảm thấy hài lòng về mọi mặt.<br>
                                Với mong muốn được phục vụ Quý khách hàng ngày càng chu đáo hơn, Luxury Shop luôn sẵn sàng tiếp nhận và biết ơn mọi sự góp ý của Quý khách hàng.<br>
                                Vào bất cứ thời điểm nào, chúng tôi cũng sẽ nhanh chóng giải quyết và có thông tin phản hồi kịp thời đối với mọi vướng mắc hay mọi sự chưa hài lòng của Quý khách hàng.<br>
                                <br>
                                <strong>"Lấy sự Hài lòng của Quý khách hàng làm niềm Hạnh phúc của chúng ta" là những gì mà toàn thể lãnh đạo &amp; nhân viên Luxury Shop đang ngày đêm tâm niệm và phấn đấu!</strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

